[submodule ".registry"]
	path = .registry
	url = https://github.com/melff/melff.r-universe.dev
	branch = HEAD
[submodule "EMfit"]
	path = EMfit
	url = https://github.com/melff/EMfit
	subdir = pkg
[submodule "RKernel"]
	path = RKernel
	url = https://github.com/melff/RKernel
	subdir = pkg
[submodule "iimm"]
	path = iimm
	url = https://github.com/melff/iimm
[submodule "mclogit"]
	path = mclogit
	url = https://github.com/melff/mclogit
	subdir = pkg
[submodule "memisc"]
	path = memisc
	url = https://github.com/melff/memisc
	subdir = pkg
[submodule "mpred"]
	path = mpred
	url = https://github.com/melff/mpred
	subdir = pkg
[submodule "munfold"]
	path = munfold
	url = https://github.com/melff/munfold
	subdir = pkg
